{% extends "webclient/base/base_container.html" %}
{% load i18n %}

{% block link %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "webadmin/css/dusty.css"|add:url_suffix %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static "webgateway/css/ome.table.css"|add:url_suffix %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static "3rdparty/jquery.tablesorter-2.0.3/jquery.tablesorter.css" %}" type="text/css" media="screen"/>
    
	<!--[if lte IE 8]>
		<link rel="stylesheet" type="text/css" href="{% static "webgateway/css/ome.table_ie.css"|add:url_suffix %}" />
	<![endif]-->    
{% endblock %}    

{% block content %}
    <div id="center_details">
        {% if ome.message %}<div class="error">{{ ome.message|safe|linebreaks }}</div>{% endif %}
        {% block center_details %}{% endblock %}
    </div>
{% endblock %}