{% extends "omeroweb_upload/base.html" %}
{% load i18n %}

{% block title %}
    omeroweb.upload
{% endblock %}

{% block center_details %}
	<div class="standard_form settings_form">
		<form id="groups" >{% csrf_token %}
	        {{ group_form.errors }}
	        {{ group_form.non_field_errors }}
	        <p>{% trans "Fields marked in red are mandatory." %}</p>
	        {% for field in group_form %}
	            {% if field.errors %}<div style="clear:both">{{ field.errors }}</div>{% endif %}
	            <span class="required">{{ field.label_tag }}</span>
	            {{ field }}
	            </br>
	        {% endfor %}
	        </br>
		</form>
		<form id="projects" >{% csrf_token %}
	        {{ project_form.errors }}
	        {{ project_form.non_field_errors }}
	        {% for field in project_form %}
	            {% if field.errors %}<div style="clear:both">{{ field.errors }}</div>{% endif %}
	            <span class="required">{{ field.label_tag }}</span>
	            {{ field }}
	            </br>
	        {% endfor %}
	        </br>
		</form>
		<form id="datasets" >{% csrf_token %}
	        {{ dataset_form.errors }}
	        {{ dataset_form.non_field_errors }}
	        {% for field in dataset_form %}
	            {% if field.errors %}<div style="clear:both">{{ field.errors }}</div>{% endif %}
	            <span class="required">{{ field.label_tag }}</span>
	            {{ field }}
	            </br>
	        {% endfor %}
	        </br>
		</form>		
		<form id="upload" action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
	        {{ upload_form.errors }}
	        {{ upload_form.non_field_errors }}
	        {% for field in upload_form %}
	            {% if field.errors %}<div style="clear:both">{{ field.errors }}</div>{% endif %}
				{% if field.label_tag == upload_form.file.label_tag %}
					{{ field }}
	            {% elif field.label_tag != upload_form.date.label_tag %}
		            <span class="required">{{ field.label_tag }}</span>
		            {{ field }}
	            {% else %}
				    {{ field }}
		        {% endif %}
		        </br>
	        {% endfor %}
	        </br>
			<input type="submit" value="{% trans 'Start upload' %}" />
		</form>
	</div>
{% endblock %}